.first-section{
  background-color: #ffffff;
  padding: 150px 0;
}

.first-section__inner {
  display: flex;
  align-items: center;
}

.first-section__title {
  text-align: left;
  margin: 40px 0;
}

.description{
  position: relative;
  width: 585px;
  margin-left: -70px;
  padding: 50px 40px 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background: white;
}
.text_inner{
  margin: 30px 0;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
}
.lines{
  height: 3px;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.lines__item {
  height: 100%;
  flex-grow: 1;
}

.lines__red{
  background-color: #fc5f45;
}
.lines__green{
  background-color: #38c695;
}
.lines__purple{
  background-color: #b27cf5;
}
.lines__gold{
  background-color: #feb960;
}