.footer{
  background-color: #bebcbc;
}
.footer__block{
  display: flex;
  justify-content: space-between;
  background-color: #3f4049;
  position: relative;
  padding: 63px 63px;
}
.footer__title{
  padding: 0  0 30px;
  font-size: 18px;
  line-height: 27px;
}
.footet__text{
  font-size: 16px;
  color: #fff;
}
.footer__logo{
  margin-top: 30px;
}
.footer__item{
  width: 210px;

}
.footer__link{
  display: flex;
  justify-content: space-between;
}