.seventh-section{
  background-color: #3f4049;
  padding: 100px 0;
}
.testimonials{
  display: flex;
}
.testimonials__description{
  position: relative;
  padding: 40px;
  margin: 40px 0;
  background-color: #fff;
  color: #616161;
}
.testimonials__title{
  font-size: 18px;
  font-weight: 500;
}
.testimonials__signature{
  margin: 30px 0 15px;
}
.testimonials__subtitle{
  font-size: 13px;
}
