.seventh-section{
  background-color: #3f4049;
  padding: 100px 0;
  overflow: hidden;
  background: url("../img/testimonials-background.jpg") top center;
  background-size: cover;
}
.testimonials{
  display: flex;
}
.testimonials__img {
  width: 384px;
  min-width: 384px;
  img {
    width: 100%;
  }
}
.testimonials__description{
  position: relative;
  padding: 40px;
  margin: 40px 0;
  background-color: #fff;
  color: #616161;
}
.testimonials__title{
  font-size: 18px;
  font-weight: 500;
}
.testimonials__signature{
  width: 115px;
  margin: 30px 0 15px;
}
.testimonials__subtitle{
  font-size: 13px;
}

@media  (max-width: $screen-lg-max){
  .testimonials{
    flex-direction: column;
  }
  .testimonials__img{
    margin: 0 auto;
    align-items: center;
    max-width: 384px;
    width: 100%;
    min-width: auto;
  }
}
