.video-section {
  background: #262732;
  text-align: center;
  padding: 115px 0;
}

.video-section__title{
  margin: 25px 0;
  font-size: 30px;
  line-height:50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #ffffff;
}
.text_inner_white {
  margin: 25px 0;
  color: #ffffff;
}