body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_mini {
  max-width: 820px;
}

.title {
  margin: 30px 0;
  color: black;
  font-size: 50px;
  line-height: 85px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  text-align: center;
}
.title_white{
  color: #ffffff;
}
.title_regular{
  font-weight: 400;
  font-size: 60px;
}
.title-poppins{
  margin: 23px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;

}

.button{
  box-sizing: border-box;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 180px;
  background-color: #fc5f45;
  border-radius: 25px;
  text-align: center;
  padding: 12px 20px;
}
.subtitle{
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  color: #616161;

}
.red{
  color: #fc5f45;;
}
.green{
  color: #38c695;
}
.purple{
  color:#b27cf5;
}
.gold{
  color:#feb960;
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background: black;
    border-radius: 50%;
  }
  &.red{
    border-color: #fc5f45;;
    &:before {
      background: #fc5f45;
    }
  }
  &.green{
    border-color: #38c695;;
    &:before {
      background: #38c695;
    }
  }
  &.purple{
    border-color: #b27cf5;;
    &:before {
      background: #b27cf5;
    }
  }
  &.gold{
    border-color: #feb960;;
    &:before {
      background: #feb960;
    }
  }
}

@import 'lines';
@import 'with-background';
@import 'header';
@import 'header-section';
@import 'first-section';
@import 'second-section';
@import 'video-section';
@import 'third-section';
@import 'fourth-section';
@import 'stats';
@import 'fifth-section';
@import 'sixth-section';
@import 'seventh-section';
@import 'eighth-section';
@import 'ninth-section';
@import 'subscribe-section';
