.subscribe-section {
  background-color: #fff;
  padding: 140px;
}

.subscribe__title {
  font-size: 30px;
  text-align: center;
}

.form-subscribe {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.form-subscribe__input {
  width: 300px;
  padding: 0 27px;
  font-size: 16px;
  color: #616161;
  background-color: #f7f7f7;
  border: 2px solid #efefef;
  border-right-width: 0;
  border-radius: 25px 0 0 25px;

  &:focus {
    outline: none;
    border-color: #dedede;
  }
}

.form-subscribe__button {
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #fc5f45;
  color: #ffffff;
  font-size: 16px;
  padding: 18px 32px;

  &:focus {
    outline: none;
  }
}